/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

.nav-wrapper {
  background-color: #0086b3;
}

.add-form {
  border: solid 2px #26A69A;
  //margin-left: 1%;
  //margin-right: 1%;
  padding: 1%;
  width: 98%;
  z-index: 4;
}

.add-form h5 {
  padding-left: 1%;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #212121;
  opacity: 1;
}

::-moz-placeholder {
  color: #212121;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #212121;
  opacity: 1;
}

.idea-form {
  color: #212121;
  }

.idea {
  border: solid 2px #0086b3;
  margin: 1%;
}

.logogo {
  margin-right: 45%;
  margin-left: 45%;
}

.one-hundred {
  color: #26A69A;
}

.one-hundred-one {
  color: #26A69A;
}

.two-hundred {
  color: #26A69A;
}

.two-hundred-two {
  color: #26A69A;
}

#ideas {
  margin: 0 2%;
  align-content: center;
}

.idea-title {
  color: #26A69A;
}

#title-input {
  margin-top: 2%;
}

.edit-page {
  margin-top: 2%;
}

.edit-title {
  font-size: 28px;
}

#submit-edit-button {
  float: right;
}

.delete-button {
  float: right;
  border: solid 2px #0086b3;
  margin-bottom: 1%;

}

.edit-button {
  border: solid 2px #0086b3;
  margin-bottom: 1%;
  background: #fff;
  color: #000000;
}

.edit-form {
  border: solid 2px #0086b3;
}